# ======================================================
# Privy
# ======================================================
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
NEXT_PUBLIC_PRIVY_JWKS_ENDPOINT=
PRIVY_SECRET=

# ======================================================
# Pinata
# ======================================================
NEXT_PUBLIC_PINATA_API_KEY=
NEXT_PUBLIC_PINATA_API_SECRET=
NEXT_PUBLIC_PINATA_GATEWAY_URL=
NEXT_PUBLIC_PINATA_JWT=
NEXT_PUBLIC_PINATA_GROUP_ID=

# ======================================================
# App config
# ======================================================
NEXT_PUBLIC_APP_ENV=development
# development | staging | production
NEXT_PUBLIC_APP_CHAIN=base
# base | optimism

# ======================================================
# Base contracts
# ======================================================
NEXT_PUBLIC_BASE_DROPSLAND_EVENTS_CONTRACT_MAINNET=
NEXT_PUBLIC_BASE_DROPSLAND_CREATORS_CONTRACT_MAINNET=

NEXT_PUBLIC_BASE_DROPSLAND_EVENTS_CONTRACT_TESTNET=0xEdCDEb4d8d7773043ADC8cA956FC9A21422D736b
NEXT_PUBLIC_BASE_DROPSLAND_CREATORS_CONTRACT_TESTNET=

# ======================================================
# Optimism contracts
# ======================================================
NEXT_PUBLIC_OPTIMISM_DROPSLAND_EVENTS_CONTRACT_MAINNET=
NEXT_PUBLIC_OPTIMISM_DROPSLAND_CREATORS_CONTRACT_MAINNET=

NEXT_PUBLIC_OPTIMISM_DROPSLAND_EVENTS_CONTRACT_TESTNET=
NEXT_PUBLIC_OPTIMISM_DROPSLAND_CREATORS_CONTRACT_TESTNET=
